body {
    color: white;
}

.container-title {
    height: 50px;
    width: 100%;
    padding: 13px;
    background: rgba(0, 0, 0, 0.6);
    font-size: large;
}

#particle-bg {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #002640;
}

.container-content {
    color: white;
}

.container-left {
    padding-left: 20px;
    margin-top: 20px;
}

.container-right {
    padding-right: 20px;
    margin-top: 20px;
}

@media (max-width: 768px){
    .container-left {
        padding-right: 20px;
    }
    .container-right {
        padding-left: 20px;
    }
}

.container-time {
    margin-bottom: 15px;
}

.container-time input {
    margin-top: 5px;
    background: rgba(255, 255, 255, 0.9);
}

.container-submit-button {
    text-align: right;
}

.inputs {
    background: rgba(0, 0, 0, 0.6);
    padding: 15px;
}

.outputs {
    height: 400px;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
}

.warnings {
    margin-bottom: 15px;
    padding-left: 10px;
}

.warning {
    margin-bottom: 5px;
}

/*
Bullet Graph Styling
*/

.chart-label{
    text-align: right;
    line-height: 1;
}

.chart-label .title {
    font-size: medium;
}

.chart-label .subtitle {
    font-size: smaller;
    color: gray;
}

@media (max-width: 768px){
    .chart-label {
        text-align: left;
        line-height: 1;
        padding-left: 10px;
    }
}

.bullet { font: 10px sans-serif; }
.bullet .marker { stroke: #000; stroke-width: 2px; }
.bullet .tick line { stroke: #666; stroke-width: .5px; }
.bullet .range.s0 { fill: #eee; }
.bullet .range.s1 { fill: #ddd; }
.bullet .range.s2 { fill: #ccc; }
.bullet .measure.s0 { fill: lightsteelblue; }
.bullet .measure.s1 { fill: steelblue; }
.bullet .title { font-size: 14px; font-weight: bold; fill: #f1f1f1;}
.bullet .subtitle { fill: #999; }
.bullet text { fill: #fff;}